@page "/shop-erstellen"


<EditForm OnValidSubmit="HandleValidSubmit" EditContext="@editContext">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Einen Shop registrieren</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5>Name und Adresse</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <InputText id="name" @bind-Value="model.Name" class="form-control  form-control-alternative" placeholder="Name des Shops"/>
                    <ValidationMessage For="@(() => model.Name)" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <InputText @bind-Value="model.Street" class="form-control  form-control-alternative" placeholder="Straße und Hausnummer" />
                    <ValidationMessage For="@(() => model.Street)" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <InputText @bind-Value="model.Street_2" class="form-control  form-control-alternative" placeholder="Adresszusatz" />
                    <ValidationMessage For="@(() => model.Street_2)" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-3 col-6">
                <div class="form-group">
                    <InputText @bind-Value="model.ZipCode" class="form-control  form-control-alternative" placeholder="PLZ" />
                    <ValidationMessage For="@(() => model.ZipCode)" />
                </div>
            </div>
            <div class="col-md-8 col-sm-3">
                <div class="form-group">
                    <InputText @bind-Value="model.City" class="form-control  form-control-alternative" placeholder="Ort" />
                    <ValidationMessage For="@(() => model.City)" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5>Kontakt</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <InputText @bind-Value="model.Phone" class="form-control  form-control-alternative" placeholder="Telefon" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <InputText @bind-Value="model.Email" class="form-control  form-control-alternative" type="email" placeholder="Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Speichern und weiter</button>
            </div>
        </div>
    </div>
</EditForm>