@page "/shop-verwalten/{id}"

@if (!loaded)
{
    <span>Loading ...</span>
}
else
{
    <EditForm OnValidSubmit="HandleValidSubmit" EditContext="@editContext">
        <DataAnnotationsValidator />
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h3>Shop Verwalten</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h5>Name und Adresse</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <InputText @bind-Value="model.Name" class="form-control  form-control-alternative" placeholder="Name des Shops" />
                        <ValidationMessage For="@(() => model.Name)" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <InputText @bind-Value="model.MainAddress.Street_1" class="form-control  form-control-alternative" placeholder="Straße und Hausnummer" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <InputText @bind-Value="model.MainAddress.Street_2" class="form-control  form-control-alternative" placeholder="Adresszusatz" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-3 col-6">
                    <div class="form-group">
                        <InputText @bind-Value="model.MainAddress.ZipCode" class="form-control  form-control-alternative" placeholder="PLZ" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-3">
                    <div class="form-group">
                        <InputText @bind-Value="model.MainAddress.City" class="form-control  form-control-alternative" placeholder="Ort" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <h5>Kontakt</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <InputText @bind-Value="model.MainAddress.ContactPhone" class="form-control  form-control-alternative" placeholder="Telefon" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <InputText @bind-Value="model.MainAddress.ContactEmail" class="form-control  form-control-alternative" type="email" placeholder="Email" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <h5>Öffnungszeiten</h5>
                </div>
            </div>


            <div class="row">

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Monday" class="custom-control-input" id="checkMonday" />
                        <label class="custom-control-label" for="checkMonday">Montag</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Tuesday" class="custom-control-input" id="checkTuesday" />
                        <label class="custom-control-label" for="checkTuesday">Dienstag</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Wednesday" class="custom-control-input" id="checkWednesday" />
                        <label class="custom-control-label" for="checkWednesday">Mittwoch</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Thursday" class="custom-control-input" id="checkThursday" />
                        <label class="custom-control-label" for="checkThursday">Donnerstag</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Friday" class="custom-control-input" id="checkFriday" />
                        <label class="custom-control-label" for="checkFriday">Freitag</label>
                    </div>
                </div>
                <div class="col-2">

                </div>

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Saturday" class="custom-control-input" id="checkSaturday" />
                        <label class="custom-control-label" for="checkSaturday">Samstag</label>
                    </div>
                </div>

                <div class="col-2">
                    <div class="custom-control custom-checkbox ">
                        <InputCheckbox @bind-Value="newOpeningHours.Sunday" class="custom-control-input" id="checkSunday" />
                        <label class="custom-control-label" for="checkSunday">Sonntag</label>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-2">
                    <InputText @bind-Value="newOpeningHours.From" class="form-control  form-control-alternative" placeholder="Von" />
                </div>
                <div class="col-2">
                    <InputText @bind-Value="newOpeningHours.To" class="form-control  form-control-alternative" placeholder="Bis" />
                </div>

            </div>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary btn-fab btn-icon btn-round btn-sm" @onclick="AddOpeningHours">
                        <i class="ni ni-fat-add"></i>
                    </button>
                </div>
            </div>

            @foreach (var openingHourItem in model.OpeningHours)
            {
                <div class="row">
                    <div class="col-2">
                        <span>@openingHourItem.From</span>
                    </div>
                    <div class="col-2">
                        <span>@openingHourItem.To</span>
                    </div>
                    <div class="col-2">
                        <span>@openingHourItem.DayOfWeek.ToString()</span>
                    </div>
                </div>

            }


            <div class="row">
                <div class="col-sm">
                    <h5>Besuchereinstellungen</h5>
                </div>
            </div>

            @*<div class="col-md-6">
                <div class="form-group">
                    <InputNumber @bind-Value="model.Settings.SlotSize" class="form-control  form-control-alternative" placeholder="Dauer in Minuten" />
                    <ValidationMessage For="@(() => model.Name)" />
                </div>
            </div>*@


            <div class="col-md-6">
                <div class="form-group">
                    <InputNumber @bind-Value="model.Settings.MaxNumberofVisitors" class="form-control  form-control-alternative" placeholder="Max. Anzahl" />
                    <ValidationMessage For="@(() => model.Name)" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <InputNumber @bind-Value="model.Settings.SlotStatusThreshold" class="form-control  form-control-alternative" placeholder="Gelb %" />
                    <ValidationMessage For="@(() => model.Name)" />
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" @onclick="HandleValidSubmit">Speichern</button>
                </div>
            </div>

        </div>
    </EditForm>
}